@mixin szerokosc($szerokosc) {
	width: $szerokosc;
	margin: { left: auto; right: auto; }
}

// Ograniczona szerokość wybranych widoków

#addresses, #genotypes, #messages, #users, #sites { #new, #create, #edit, #update, #show { @include szerokosc(510px); } }
#sites, #users, #genotypes { #index { @include szerokosc(510px); } }
#login { #index, #create, #destroy { @include szerokosc(510px); } }
#rss #web { @include szerokosc(560px); }

// Cechy charakterystyczne wybranych widoków

#addresses {
	#index {
		.dodatki { color: green; }
		.komunikat_id a { padding: 5px; }
		.ad_message { text-align:left; color: white; z-index: 99; padding: 10px 20px; background-color: #FFC0CB; display: none; position: absolute; width: 400px; }
		.ad_message a { position: absolute; top: 10px; right: 10px; }
	}
}

#genotypes {
	.tresc div { margin: 5px 0; white-space: nowrap; }
	input, img { vertical-align: middle; }
}

#users {
	#my_addresses li, #subscribed > div { margin: 5px 0; border-bottom: 1px solid #9ACEDB; padding: 0 0 10px 0; overflow: hidden}
	#my_addresses { min-height: 32px}
	.field { margin-bottom: 15px;}

	#subscribed { margin: 0; overflow: hidden}
	#filter { background-color: #9ACEDB; width: 480px; padding: 5px; overflow: hidden; }
	#filter input[type=text] { float: right; width: 420px; margin-left: 8px; border: 1px solid white; }
	#filter img {margin-top:7px; margin-left:11px; float:left;}
	#my_addresses ul {overflow: hidden}
	#my_addresses input[type=checkbox], #subscribed input[type=checkbox] { margin: 14px 10px 0px 10px; float: left; }
	#my_addresses .adres, #subscribed .adres, #my_addresses .adres input[disabled] { font-size: 12px; color: #006666; margin-left: 42px; }
	#my_addresses, #subscribed, #rss_web .msg  { background-color: #cfe9ef; padding: 5px 7px 3px 7px;  }
	#my_addresses input[type=text], #subscribed input[type=text] { width: 420px; }

	.karty .aktywna { background-color: #BD004C; color: white; }
	#spersonalizowane {
		div {
			margin: 20px 10px;
		}
		img {
			float: left;
			margin: 4px; margin-right: 10px; margin-left: 10px;
		}
		p {
			text-align: left;
			font-weight: bold;
		}
		label {
			position: relative;
			top: 10px;
			margin-left: 150px;
			input {
				display: inline;
				width: 250px;
			}
			text-align: right;
		}
	}
}

#rss {
	#web {
		li { margin: 5px;  }
		ins { color: #60B302; } del { color: #CE4641; }
		#loading { text-align: center; }
		#loading p {display: table-cell; }
		#loading img { vertical-align: middle; margin-right: 15px; }
		.boxdate { width: 114px; padding: 10px 10px 0 10px; text-align: center; margin-left: -50px; margin-right: 5px; float: left; }
		.box_msg { overflow: hidden; border-left: 1px solid #B3DEE9; padding-left: 10px; margin-bottom: 15px; width: 420px; position: relative;}
		.boxdate span {}
		.boxdate .day { font-size: 28px; color:#5FA6B8 }
		.boxdate .month { font-size: 28px; color:#DAEEF3; }
		.boxdate .time { display: block; color: white; }
		h1 { font-size: 16px; margin: 2px 0 2px 0; color:#5FA6B8;}
		a { font-size: 12px; margin: 0; width: 50%; color:#DAEEF3; }
		.msg {
			margin: 15px 0; font-size: 12px; clear: right; 
			div { background: #deeff7; padding: 3px 5px; margin-bottom: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
			div:last-child { margin-bottom: 0; }
		}
	}
}

/* Login, Wykluj */

#login label, #users #new label, #users #create label { display: inline; }
#login .tresc img, .wykluj img { padding: 11% 5%; }
#login .tresc form, .wykluj form { max-width: 48em; margin: auto; display: block; text-align: center; }
#login .tresc form input, .inline_form input { max-width: 8em; }
#login .tresc form input + label, .inline_form input + label { margin-left: 10px; }
#login .tresc form input[type="submit"] { visibility: hidden; max-width: 0; }
#login .error, #login #error, #login #notice { text-align: center; }

.info { background-color: #666; padding: 10px; margin: 5px 0; color:white; font-size: 11px; line-height: 1.3em; }
#expert { color: white; background-color: #666; padding: 10px; }

/* PopUp */
#users table tr :nth-child(4) div, #addresses table tr :nth-child(3) div { display: none; position: absolute; padding: 10px 20px; background-color: #FFC0CB; }


.gallery img { padding: 3px; }
#users #edit p { padding: 4px 0 }
