table {
	th { vertical-align: bottom; margin: 0; padding: 0; height: 1px; }
	td { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
	tr:nth-child(2) td:first-child { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }
	tr:nth-child(2) td:last-child { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
	tr:last-child td:first-child { -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; }
	tr:last-child td:last-child { -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; }

	td { padding: 2px 7px; background-color: rgba(240, 255, 255, 0.8); vertical-align: top; }
}

#addresses {
	table { width: 100%; }
	table td { vertical-align: middle; }
	table a, #addresses table a:visited { color: #999; }

	tr td:nth-child(1) { white-space: nowrap; width: 12px; text-align: right; }
	tr td:nth-child(2) { white-space: nowrap; width: 1px; }
	tr td:nth-child(3) { white-space: nowrap; width: 12px; text-align: center; }
	tr td:nth-child(4) { min-width: 100px; text-align: center; }
	tr td:nth-child(5) { white-space: nowrap; width: 1px; }
	tr td:nth-child(6) { white-space: nowrap; width: 1px; }
	tr td:nth-child(7) { white-space: nowrap; width: 12px; }
	tr td:nth-child(8) { white-space: nowrap; width: 1px; }

	td a, tr :nth-child(5), tr :nth-child(4), .dodatki { font-size: 12px; }
}

#messages {
	table { width: 100%; }
	tr td:nth-child(1) { width: 1px; text-align: right; }
	tr td:nth-child(2) { width: 1px; text-align: right; }
	tr td:nth-child(3) { font-size: 12px; }
	tr td:nth-child(4) { white-space: nowrap; width: 1px; text-align: center; }
	tr td:nth-child(5) { white-space: nowrap; width: 1px; text-align: center; }
}

#users {
	table { width: 100%; }
	tr td:nth-child(1) { min-width: 100px; }
	tr td:nth-child(2) { white-space: nowrap; width: 12px; }
	tr td:nth-child(3) { min-width: 100px; }
	tr td:nth-child(4) { white-space: nowrap; width: 1px; text-align: right}
	tr td:nth-child(5) { white-space: nowrap; width: 1px; }
}

#sites {
	table { }
	tr td:nth-child(1) { width: 1px; text-align: right; }
	tr td:nth-child(2) { min-width: 300px; }
	tr td:nth-child(3) { width: 1px; text-align: right; }
	tr td:nth-child(4) { white-space: nowrap; width: 1px; }
}
