/* Fundamenty */
html, body, form, div, p, input, h1, h2, table, th, tr, td, input, ul, ol, li { margin: 0; padding: 0; }
form, label { display: inline; }
input[type="text"], input[type="submit"], input[type="password"], input[type="checkbox"], textarea { border: none; background: transparent; }
input[type="submit"] { font-size: 14px; color: black; }
a img { border: none; } a, a:link, a:visited, a:active { text-decoration: none; }
table, table td, table tr, table th { border: none; }
li { list-style: none; }
p:empty { display: none; }

/* Globalne */
html, input { color: #333; background: #9ACEDB url(/images/tlo.png) no-repeat; font-size: 14px; line-height: 18px; font-family: verdana, arial, helvetica, sans-serif; height: 100%; }
a { color: #000; } a:visited { color: #000; } a > img { vertical-align: text-top; }
h1 { margin-top: 20px; margin-bottom: 12px; } h1:first-child { margin-top: 0; } h2 { margin-top: 16px; margin-bottom: 10px; } h2:first-child { margin-top: 0; }
pre { background-color: #eee; padding: 10px; font-size: 11px; }
#tresc { margin: 10px; padding: 20px; }
.inline_form { text-align: center; padding: 10px; }

/* Nawigacja, przyciski, formularze */
#nawigacja { text-align: center; padding: 10px; border-top: 4px solid #666; }
#nawigacja a { background-color: #666; padding: 16px 16px 7px 16px; margin: 0 2px; color: white; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius:  0 0 5px 5px; }
#nawigacja a.aktywny { padding-top: 30px; position: relative; top: 0; background-color: black; }

.actions { text-align: right; margin:10px 0}
.actions a, .actions input, input[type="text"], input[type="password"], textarea, #rss_web li, #subscribed, #my_addresses, .rounded { -webkit-border-radius:  5px; -moz-border-radius: 5px; border-radius: 5px; }
.actions a, .actions input { background-color: #cfe9ef; margin: 0 2px; padding: 4px 16px; }

input[type="text"], input[type="password"], textarea { background-color: #cfe9ef; padding: 5px 7px 3px 7px; width: 97%;  }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { background-color: rgba(255, 255, 255, 0.7); }

.actions a:focus, .actions input:focus, #nawigacja a:focus { color: white; background-color: #BD004C; }

/* Tabele, listy */
table { margin-left: auto; margin-right: auto; margin-top: -20px; }
table td { padding: 2px 7px; background-color: rgba(240, 255, 255, 0.8); vertical-align: top; }

/* Ograniczona szerokość wybranych stron */
#addresses_new #tresc, #addresses_create #tresc, #addresses_edit #tresc, #addresses_update #tresc, #addresses_show #tresc,
#genotypes_new #tresc, #genotypes_create #tresc, #genotypes_edit #tresc, #genotypes_update #tresc, #genotypes_show #tresc,
#messages_new #tresc, #messages_create #tresc, #messages_edit #tresc, #messages_update #tresc, #messages_show #tresc,
#users_new #tresc, #users_create #tresc, #users_edit #tresc, #users_update #tresc, #users_show #tresc,
#login #tresc, #login_create #tresc, #login_destroy #tresc,
#sites #tresc, #sites_edit #tresc, #sites_update #tresc,
#genotypes #tresc, #users #tresc
{ width: 35em; margin-left: auto; margin-right: auto; }

#rss_web #tresc
{ width: 46em; margin-left: auto; margin-right: auto; }

/* Komunikaty, błędy, ostrzeżenia */
#notice, #error, .public #error_explanation p { font-size: 16px; margin: 20px; } #notice { color: green; } #error, #error_explanation { color: red; } #error_explanation h2 { display: none; }
.admin #error_explanation { background: url(/images/guard.gif) no-repeat 20px 40px; min-height: 80px; padding-left: 130px; padding-top: 70px; }
div.field_with_errors { display: inline; } div.field_with_errors input { border: 1px solid red; }

#messages td:nth-child(3) { font-size: 12px; }

/* Addresses */
#addresses .komunikat_id a { padding: 5px; }
#addresses .ad_message { text-align:left; color: white; z-index: 99; padding: 10px 20px; background-color: #FFC0CB; display: none; position: absolute; width: 400px; }
#addresses .ad_message a { position: absolute; top: 10px; right: 10px; }
#addresses td a, #addresses tr :nth-child(5), #addresses tr :nth-child(4), #addresses .dodatki { font-size: 12px; }
#addresses .dodatki { color: green; }


/* Genotypes */
#genotypes #tresc div { margin: 5px 0; white-space: nowrap; }
#genotypes input, #genotypy img { vertical-align: middle; }

/* Users */
#users table tr :nth-child(4) div, #addresses table tr :nth-child(3) div {display:none; position:absolute; padding: 10px 20px; background-color: #FFC0CB;}

#my_addresses li, #subscribed div { margin: 5px 0; border-bottom: 1px solid #9ACEDB; padding: 5px 0; overflow: hidden}
#my_addresses {min-height:32px}
#users_edit .field {margin-bottom:15px;}


#users_edit label {display:block; margin-bottom:5px;}
#subscribed { margin: 0; overflow: hidden}
#filter {background-color:#9ACEDB; width:480px; padding:5px;}
#filter input[type=text] { width:430px; margin-left:8px; border: 1px solid white; }
#filter img {margin-top:5px; margin-left:5px; float:left;}
#my_addresses ul {overflow: hidden}
#my_addresses input[type=checkbox], #subscribed input[type=checkbox] { margin:10px 10px 10px 10px; float: left; clear: left; }
#my_addresses p.adres, #subscribed p.adres { float: left; font-size: 12px; color: #006666; }
#my_addresses, #subscribed, #rss_web .msg  { background-color: #cfe9ef; padding: 5px 7px 3px 7px;  }

/* RSS */
#rss_web li { margin: 5px;  }
#rss_web ins { color: #60B302; } #rss_web del { color: #CE4641; }
#rss_web #loading { text-align: center;}
#rss_web #loading p {display:table-cell;}
#rss_web #loading img { vertical-align:middle; margin-right:15px;}
#rss_web .boxdate { width:114px; padding:10px 10px 0 10px; text-align:center; margin-left:-50px; margin-right:5px; float:left;}
#rss_web .box_msg { overflow:hidden; border-left: 1px solid #ddf0ff; padding-left: 10px; margin-bottom:15px;width:420px; position:relative;}
#rss_web .boxdate span {}
#rss_web .boxdate .day {font-size:28px;}
#rss_web .boxdate .month {font-size:28px;}
#rss_web .boxdate .time { display:block;color:white;}
#rss_web h1 { font-size:16px; margin:2px 0 2px 0;}
#rss_web h2 { font-size:12px; margin:0;width:50%}
#rss_web .switcher { position:absolute; top:5px; right:5px;font-size:12px;}
#rss_web .msg { margin:15px 0;font-size:12px; clear:right; }

/* Login, Wykluj */
#login #tresc img, .wykluj img { padding: 11% 5%; }
#login #tresc form, .wykluj form { max-width: 48em; margin: auto; display: block; text-align: center; }
#login #tresc form input, .inline_form input { max-width: 8em; }
#login #tresc form input + label, .inline_form input + label { margin-left: 10px; }
#login #tresc form input[type="submit"] { display: none; }
#login #error, #login #notice { text-align: center; }

