/* Ograniczona szerokość wybranych stron */

#addresses #new, #addresses #create, #addresses #edit, #addresses #update, #addresses #show,
#genotypes #new, #genotypes #create, #genotypes #edit, #genotypes #update, #genotypes #show,
#messages #new, #messages #create, #messages #edit, #messages #update, #messages #show,
#users #new, #users #create, #users #edit, #users #update, #users #show,
#login #index, #login #create, #login #destroy,
#sites #index, #sites #edit, #sites #update,
#genotypes #index, #users #index
{ width: 510px; margin-left: auto; margin-right: auto; }

#rss_web .index
{ width: 46em; margin-left: auto; margin-right: auto; }

/* Addresses */

#addresses .komunikat_id a { padding: 5px; }
#addresses .ad_message { text-align:left; color: white; z-index: 99; padding: 10px 20px; background-color: #FFC0CB; display: none; position: absolute; width: 400px; }
#addresses .ad_message a { position: absolute; top: 10px; right: 10px; }
#addresses td a, #addresses tr :nth-child(5), #addresses tr :nth-child(4), #addresses .dodatki { font-size: 12px; }
#addresses .dodatki { color: green; }

/* Genotypes */

#genotypes .tresc div { margin: 5px 0; white-space: nowrap; }
#genotypes input, #genotypy img { vertical-align: middle; }

/* Users */

#users table tr :nth-child(4) div, #addresses table tr :nth-child(3) div { display: none; position: absolute; padding: 10px 20px; background-color: #FFC0CB; }

#users #my_addresses li, #users #subscribed > div { margin: 5px 0; border-bottom: 1px solid #9ACEDB; padding: 0 0 10px 0; overflow: hidden}
#users #my_addresses { min-height: 32px}
#users .field { margin-bottom: 15px;}

#users #subscribed { margin: 0; overflow: hidden}
#users #filter { background-color: #9ACEDB; width: 480px; padding: 5px; overflow: hidden; }
#users #filter input[type=text] { float: right; width: 420px; margin-left: 8px; border: 1px solid white; }
#users #filter img {margin-top:7px; margin-left:11px; float:left;}
#users #my_addresses ul {overflow: hidden}
#users #my_addresses input[type=checkbox], #users #subscribed input[type=checkbox] { margin: 14px 10px 0px 10px; float: left; }
#users #my_addresses .adres, #users #subscribed .adres, #users #my_addresses .adres input[disabled] { font-size: 12px; color: #006666; margin-left: 42px; }
#users #my_addresses, #users #subscribed, #users #rss_web .msg  { background-color: #cfe9ef; padding: 5px 7px 3px 7px;  }
#users #my_addresses input[type=text], #users #subscribed input[type=text] { width: 420px; }

#users .karty .aktywna { background-color: #BD004C; color: white; }

/* RSS */

#rss #web li { margin: 5px;  }
#rss #web ins { color: #60B302; } #rss_web del { color: #CE4641; }
#rss #web #loading { text-align: center; }
#rss #web #loading p {display: table-cell; }
#rss #web #loading img { vertical-align: middle; margin-right: 15px; }
#rss #web .boxdate { width: 114px; padding: 10px 10px 0 10px; text-align: center; margin-left: -50px; margin-right:5px; float: left; }
#rss #web .box_msg { overflow: hidden; border-left: 1px solid #ddf0ff; padding-left: 10px; margin-bottom:15px; width: 420px; position: relative;}
#rss #web .boxdate span {}
#rss #web .boxdate .day { font-size: 28px; }
#rss #web .boxdate .month { font-size: 28px; }
#rss #web .boxdate .time { display: block; color: white; }
#rss #web h1 { font-size: 16px; margin: 2px 0 2px 0;}
#rss #web h2 { font-size: 12px; margin: 0; width: 50%; }
#rss #web .switcher { position: absolute; top:5px; right:5px;font-size:12px; }
#rss #web .msg { margin:15px 0;font-size:12px; clear:right; }

/* Login, Wykluj */

#login label { display: inline; }
#login .tresc img, .wykluj img { padding: 11% 5%; }
#login .tresc form, .wykluj form { max-width: 48em; margin: auto; display: block; text-align: center; }
#login .tresc form input, .inline_form input { max-width: 8em; }
#login .tresc form input + label, .inline_form input + label { margin-left: 10px; }
#login .tresc form input[type="submit"] { visibility: hidden; max-width: 0; }
#login .error, #login #error, #login #notice { text-align: center; }

.info { background-color: #666; padding: 10px; margin: 5px 0; color:white; font-size: 11px; line-height: 1.3em; }
#expert { color: white; background-color: #666; padding: 10px; }

