table th { vertical-align: bottom; margin: 0; padding: 0; height: 1px; }
table td { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
table tr:nth-child(2) td:first-child { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }
table tr:nth-child(2) td:last-child { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
table tr:last-child td:first-child { -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; }
table tr:last-child td:last-child { -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; }

#addresses table { width: 100%; }
#addresses table td { vertical-align: middle; }
#addresses table a, #addresses table a:visited { color: #999; }

#addresses tr td:nth-child(1) { white-space: nowrap; width: 12px; text-align: center; }
#addresses tr td:nth-child(2) { white-space: nowrap; width: 1px; }
#addresses tr td:nth-child(3) { white-space: nowrap; width: 12px; text-align: center; }
#addresses tr td:nth-child(4) { min-width: 100px; text-align: center; }
#addresses tr td:nth-child(5) { white-space: nowrap; width: 1px; }
#addresses tr td:nth-child(6) { white-space: nowrap; width: 1px; }
#addresses tr td:nth-child(7) { white-space: nowrap; width: 12px; }
#addresses tr td:nth-child(8) { white-space: nowrap; width: 1px; }

#messages table { width: 100%; }
#messages tr td:nth-child(1) { width: 1px; text-align: center; }
#messages tr td:nth-child(2) { width: 1px; text-align: center; }
#messages tr td:nth-child(3) {  }
#messages tr td:nth-child(4) { white-space: nowrap; width: 1px; text-align: center; }
#messages tr td:nth-child(5) { white-space: nowrap; width: 1px; text-align: center; }

#users table { width: 100%; }
#users tr td:nth-child(1) { min-width: 100px; }
#users tr td:nth-child(2) { white-space: nowrap; width: 12px; }
#users tr td:nth-child(3) { min-width: 100px; }
#users tr td:nth-child(4) { white-space: nowrap; width: 1px; }
#users tr td:nth-child(5) { white-space: nowrap; width: 1px; }
