#addresses tr td:nth-child(1) { white-space: nowrap; width: 1px; }
#addresses tr td:nth-child(2) { width: 1px; }
#addresses tr td:nth-child(3) { white-space: nowrap; min-width: 1px; }
#addresses tr td:nth-child(4) { white-space: nowrap; width: 1px; }
#addresses tr td:nth-child(5) { white-space: nowrap; width: 12px; }
#addresses tr td:nth-child(6) { white-space: nowrap; width: 1px; }

#messages tr td:nth-child(1) { width: 1px; }
#messages tr td:nth-child(2) { width: 1px; }
#messages tr td:nth-child(3) {  }
#messages tr td:nth-child(4) { white-space: nowrap; width: 1px; }
#messages tr td:nth-child(5) { white-space: nowrap; width: 1px; }

#users tr td:nth-child(1) { white-space: nowrap; width: 1px; }
#users tr td:nth-child(2) { white-space: nowrap; width: 12px; }
#users tr td:nth-child(3) { width: 100px; }
#users tr td:nth-child(4) { width: 10px; }
#users tr td:nth-child(5) { white-space: nowrap; min-width: 100px; }
