
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>Teraz nazwij swojego małego kolibra:</p>
  <p><%= f.text_field :klucz %></p>
  <p>...i podaj hasło, które uchroni go przed drapieżnikami.<br />
  <span style="font-size:80%">Dzięki hasłu dostęp do kolibra będziesz mieć tylko ty.</span></p>
  <p><%= f.submit 'Wykluj kolibra' %></p>
<% end %>
