<div>
	<img src="/images/koliber.png" />
</div>

<% form_tag(:controller => 'users', :action => 'wykluj') do %>
	<%= text_field_tag(:zaklecie) %>
	<div class="actions"><%= submit_tag("Wykluj") %></div>
<% end %>
