<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link href="stylesheets/koliber.css" rel="stylesheet" />
	<link rel="alternate" type="application/rss+xml" href="rss/of/maciek" title="Hummingbird (Maciek)" />
	<link rel="alternate" type="application/rss+xml" href="rss/of/littled" title="Hummingbird (Piotrek)" />
	<link rel="alternate" type="application/rss+xml" href="rss/of/tomek" title="Hummingbird (Tomek)" />
	<link rel="shortcut icon" type="image/png" href="images/favico.png" />
   <title>Hummingbird</title>
</head>
<body>

<%= ActionController::Routing::possible_controllers.inspect %>

<% Module.class_eval("RssController").action_methods.each do |action_method| %>
	<%= action_method.to_s %>
<% end %>

<img src="images/koliber.png" />

</body>
</html>
